[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/shin/dbus-commonapi/dbus-1.13.12/test/test-shell-service -test "that" 'we get' back --what "we put in"
User=anyrandomuser

