[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/shin/dbus-commonapi/dbus-1.13.12/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
